.container() {
  margin: 0 auto;

  text-align: center;

  @media (min-width: @screen-md) {
    width: @screen-md;
  }
}

.visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper() {
  padding-left: 20px;
  padding-right: 20px;
}

.clearfix() {
  display: table;
  clear: both;

  content: '';
}
