@white: #ffffff;
@blue: #283645;
@dark-blue: #283645;
@gray: #f2f2f2;
@black: #000000;
@vinous: #d22856;

@screen-md: 320px;

@font-family: 'Open Sans', Arial, Helvetica, sans-serif;

@font-size: 14px;
@font-size--h1: 24px;
@font-size--btn: 18px;
@font-size--h2: @font-size;
@font-size--h3: 18px;
@font-size--h4: @font-size;
@font-size--h5: @font-size;
@font-size--h6: @font-size;

@font-weight: 400;
@btn-weight: 700;
@h3-weight: 700;

@line-height: @font-size;
@line-height--btn: @font-size--btn;
@line-height--h3: @font-size--h3 + 6;
