.contacts {
  padding-top: 48px - 6; //minus line-height
  .clearfix();
  @media @tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__header {
    margin: 0;
    margin-bottom: 45px - 6 - 6; //minus line-height
    font-size: @font-size--h1;
    line-height: 30 / 24;
    font-weight: 300;
    @media @tablet {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 40px;
      line-height: 48 / 40;
    }
  }
  &__title {
    margin: 0;
    font-size: @font-size--h3;
    line-height: 24 / 18;
    font-weight: 700;
    @media @tablet {
      width: 300px;
    }
  }
  &__text {
    margin: 0;
    margin-bottom: 30px - 6 - 6; //minus line-height
    font-size: @font-size--h1;
    font-weight: 300;
    line-height: 29 / 24;
    color: @vinous;
    @media @tablet {
      width: 300px;
    }
    &--link {
      &:hover {
        color: @dark-blue;
        text-decoration: underline;
      }
      &:active {
        opacity: 0.5;
        text-decoration: none;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__flex {
    &--center {
      @media @desktop {
        order: -1;
      }
    }
    &--left {
      @media @desktop {
        order: -2;
      }
    }
    &--right {
      @media @desktop {
        order: 1;
      }
    }
  }
}
