.form {
  padding: 0;
  margin: 0;
  outline: 1px solid red;
  .container();
  .clearfix();
  background: green;
  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    padding-top: 88px;
    padding-bottom: 44px;
    border: none;
    background: pink;
    outline: 1px solid yellow;
    &:first-of-type {
      padding-top: 0;
    }
    &--bg_gray {
      background: @gray;
    }
    .wrapper();

    // .clearfix();
  }
  &__title {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: black;
    color: @vinous;
    text-transform: uppercase;
    line-height: 18 / 14;
    // & ~ .label--radio:first-of-type,
    // & ~ .label--checkbox:first-of-type {
    //   padding-top: 120px - 8;
    // }
    // & ~ .input--text:first-of-type {
    //   margin-top: 120px - 8;
    // }
  }
}
.label {
  padding-left: 60px;

  color: @vinous;
  line-height: 30 / 14;
  text-transform: uppercase;

  text-align: left;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 24px;
  font-size: @font-size--h3;
  line-height: 30 / 18;
  border: 2px solid @light-gray;
  color: @dark-blue;
  &--checkbox {
    display: none;
  }
  &--radio {
    display: none;
  }
  &--center {
    padding-left: 0;
    text-align: center;
  }
}

.for-btns {
  position: relative;
}

.btn-minus {
  position: absolute;
  top: 45%;
  left: 10%;

}
.btn-plus {
  position: absolute;
  top: 45%;
  right: 10%;
}
