.form {
  padding: 0;
  margin: 0;
  .container();
  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 88px;
    padding-bottom: 44px;
    border: none;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
    &--bg_gray {
      background: @gray;
    }
    .wrapper();
  }
  &__title {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    color: @vinous;
    text-transform: uppercase;
    line-height: 18 / 14;
  }
  &__btn {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

//tablet version

@media @tablet {
  .form {
    &__item {
      padding-left: 0;
      padding-right: 0;
      padding-top: 64px - (30 - 18); //minus line-height
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 66px;
      border: 2px solid @light-gray;
      background: @white;
      &:first-child {
        padding-bottom: 0;
        border: none;
      }
    }
    &__title {
      margin-left: 126 / 620 * 100%;
      margin-right: 126 / 620 * 100%;
      width: 100% - 20.32258065% * 2;
      top: -3.3%;
      background: @white;

    }
  }
}
