.form-list {
  list-style-position: outside;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    position: relative;
  }
  &__item .input {
    margin-left: 60px;
    width: 220px;
  }
  &__text {
    display: inline-block;
    width: 60px;
    color: @vinous;
    text-align: center;
    &--no {
      visibility: hidden;
    }
  }
}
