.intro {
  background: @blue;

  &--sub {
    margin-bottom: 70px - 2;
    background: @white;
  }
   .container();
   .clearfix();
}
.intro__title {
  margin: 0;
  padding-top: 89px;
  padding-bottom: 318px;
  font-size: @font-size--h1;
  font-weight: 400;
  line-height: @font-size--h1 + 2;
  color: @white;
  background: url("../img/index_top.jpg") no-repeat center center;
  &--gray {
    margin-top: 46px - 2px;
    padding-top: 0;
    padding-bottom: 0;
    color: @blue;
    background: @white;
  }
   .wrapper();
}
.intro__text {
  margin-top: 116px - 10;
  margin-bottom: 37px - 10;
  color: @white;
  line-height: 24px;

  .wrapper();
}
.intro__btn {
  margin: auto;
  margin-top: 28px;

  border-radius: 30px;
  .clearfix();
}
