.intro {
  position: relative;
  background: @dark-blue url(../img/index_top.jpg) no-repeat center top;
  background-size: cover;
  .container();
  &__box {
    padding-bottom: 91px - (60-50);
    background: @dark-blue;
  }
  &__content {
    background: @dark-blue;
  }
  &--sub {
    margin-bottom: 70px - 2; //minus line-height
    background: @white;
  }
  &--inner {
    background: @white url(../img/inner_top.jpg) no-repeat;
    background-size: cover;
  }
  &__description {
    padding-top: 57px - 16; //minus line-height
    font-size: @font-size;
    line-height: 30 / 14;
    background: @white;
  }
  &__title {
    margin: 0;
    padding-top: 89px;
    padding-bottom: 318px - 4 + 28; //minus line-height and plus margin form btn
    font-size: @font-size--h1;
    font-weight: 300;
    line-height: 28 / 24;
    color: @white;
    &--inner {
      padding-bottom: 59px - 4; //minus line-height
    }
    &--gray {
      padding-top: 46px - 2px; //minus line-height
      padding-bottom: 0;
      color: @dark-blue;
      background: @white;
    }
    .wrapper();
    .clearfix();
  }
  &__text {
    padding-top: 29px - 10; //minus line-height
    padding-bottom: 37px - 10; //minus line-height
    line-height: 24 / 14;
    color: @white;

    //background: url(../img/logo.png) no-repeat center 20%;
    .wrapper();
    .clearfix();
  }
  &__btn {
    margin-top: 28px;
    border-radius: 30px;
  }
}

//mobile version
@media @mobile {
  .intro {
    &__description {
      &--hidden {
        .visuallyhidden();
      }
    }
  }
}

// tablet version
@media @tablet {
  .intro {
    padding-right: 320px;
    &--sub,
    &--inner {
      padding-right: 0;
    }
    &__box {
      background: @dark-blue url(../img/index_top.jpg) no-repeat center top;
    }
    &__title {
      padding-bottom: 40px - (48 - 40); //minus line-height
      font-size: 40px;
      line-height: 48 / 40;
      &--inner {
        font-size: 50px;
        line-height: 60 / 50;
      }
      &--gray {
        padding-bottom: 0;
        padding-top: 0;
        &:first-child {
          padding-top: 58px - (48 - 40);
        }
      }
    }
    &__description {
      margin-bottom: 0;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 100px - (30 - 18); //minus line-height
      font-size: 18px;
      line-height: 30 / 18;
      &--hidden {
        padding-top: 0;
        margin-top: 0;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 24 / 18;
      padding: 0;
      margin: 0;
      margin-top: 42px - (24 - 18); //minus line-height
      padding-bottom: 115px - (24 - 18); //minus line-height
    }
    &__btn {
      padding-left: 38 / 275 * 100%;
      padding-right: 38 / 275 * 100%;
      margin: 0;
    }
  }
}
