.page-header {
  position: relative;
  .clearfix();
  .container();
  background: #1c2630;
  &__btn-menu {
    position: absolute;
    width: 50px;
    height: 24px;
    top: 29%;
    right: 7%;
    background: url(../img/menu-btn.png) no-repeat center center;
    background-size: cover;
  }
}
.header__logo {
  padding-top: 21px;
  padding-bottom: 21px;
  .wrapper();
  text-align: left;
}
.header__logo-link {
  img {
    width: 74px;
    height: 23px;
  }
}
