.page-header {
  position: relative;
  .clearfix();
  background: #1c2630;
  &__btn-menu {
    float: right;
    width: 50px;
    height: 24px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 20px;

    // position: absolute;
    // width: 50px;
    // height: 24px;
    // top: 29%;
    // right: 7%;
    background: url(../img/menu-btn.png) no-repeat center center;
    background-size: cover;
  }
  &__logo {
    float: left;
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: left;
  }
  &__logo-link {
    img {
      width: 74px;
      height: 23px;
    }
  }
}
