.photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 36px * 2;
  justify-content: flex-start;
  @media @desktop {
    // justify-content: space-between;
  }
  &__item {
    position: relative;
    text-align: left;

    margin-right: 70 / 500 * 100%;
    @media @mobile {
      width: 67px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
    @media @tablet {
      width: 120px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    @media @desktop {
      margin-right: 55px;
      width: 120 / 820 * 100%;
      &:nth-child(3n+3) {
        margin-right: 55px;
      }
      &:nth-child(6n) {
        margin-right: 0;
      }
    }
  }
  &__del {
    position: absolute;
    right: -15%;
    top: -15%;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px - 4; //minus border
    height: 38px - 4; //minus border
    background: @white;
    cursor: pointer;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    // &--center {
    //   right: 0;
    // }
    // &--right {
    //   right: -10%;
    // }
  }
  &__name {
    position: absolute;
    bottom: 23%;
    left: 0;
    font-size: 12px;
    line-height: 18 / 12;
    text-transform: uppercase;
  }
  &__img {
    margin-bottom: 46px;
    width: 67px;
    height: 68px;
    @media @tablet {
        width: 120px;
    }
  }
}
