.photo-attach{
  display: block;
  position: relative;
  overflow: hidden;
  font-size: @font-size--h3;              /* example */
  height: 63px;                 /* example */
  line-height: 63px;             /* the same as height */
  .clearfix();
}
.photo-attach .btn,
.photo-attach > mark {
  display: block;
  cursor: pointer;              /* example */
}
.photo-attach .btn{
  float: right;
  box-sizing: border-box;
  // position: absolute;
  width: 100%;
  height: 100%;

}
.photo-attach > mark {
  background: transparent;     /* example */
  // padding-left: 1em            /* example */
}
.photo-attach .input[type=file] {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 63px;
  cursor: pointer;

}

.photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photo img {
  padding-right: 35px;
  padding-bottom: 35px;
  width: 68px;
  height: 68px;
  &:nth-child(3n) {
    padding-right: 0;
  }
}
