.platform {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media @tablet {
    padding-top: 45px;
  }
  @media @desktop {
    padding-top: 66px;
  }
  &__link {
    // @media @mobile {
    //   padding-right:
    // }
    // @media @tablet {
    //   padding: 0;
    //   padding-right: 36px;
    // }
  }
}
