.price {
  width: 100%; //minus borders
  padding-top: 68px;
  padding-bottom: 100px;
  text-transform: uppercase;
  background: @gray;
  .container();
  .wrapper();
  &__headline {
    position: relative;
    padding: 25px - 5 0; //minus line-height
    color: @white;
    background: @dark-blue;
    border: 2px solid @light-gray;
    border-bottom: none;
    line-height: 30 / 18;
    &--hit::before {
      position: absolute;
      content: '';
      width: 74px;
      height: 74px;
      background: url(../img/hit.png) no-repeat 0 0;
      top: 0;
      left: 0;

    }
  }
  &__title {
    margin: 0;
    font-size: @font-size--h3;
  }
  &__text {
    margin: 0;
    font-weight: 100;
    font-size: @font-size--h1;
  }
  &__description {
    padding: 20px 0;
    padding-left: 24px;
    border: 2px solid @light-gray;
    border-top: none;
    background: @white;
    text-align: left;
    &--yes {
      background: @white url(../img/yes.png) no-repeat 90% 50%;
    }
    &--no {
      background: @white url(../img/no.png) no-repeat 90% 50%;
    }
  }
}

// tablet version

@media @tablet {
  .price {
    width: 25.8%;
    padding: 0;
    position: absolute;
    left: 50%;
    // display: flex;
    // flex-direction: row-reverse;
    // &__headline {
    //   border-right: none;
    //   &:first-child {
    //     border-left: none;
    //   }
    // }
    // &__description {
    //   border-right: none;
    // }
    }
  .slider--tablet {
    position: relative;
    width: 100%;
  }
  }
