.price {
  width: 280px - 4;
  margin-top: 68px;

  border: 2px solid @light-gray;

  text-transform: uppercase;



}

.price__headline {
  padding: 25px - 5 0;

  color: @white;
  background: @dark-blue;
  line-height: 30px;
}

.price__title {
  margin: 0;
  font-size: @font-size--h3;
}

.price__text {
  margin: 0;
  font-weight: 100;
  font-size: @font-size--h1;

}

.price__description {
  padding: 20px 0;
  padding-left: 24px;

  border-top: 2px solid @light-gray;

  text-align: left;
}
