.slider {
  &-quote {
    padding-bottom: 68px;
    position: relative;
    overflow: hidden;
    .clearfix();
    &--tablet {
      @media @tablet {
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
        background: @gray;
      }
    }
  }
  &-table {
    padding-bottom: 68px;
    position: relative;
    overflow: hidden;
    @media @tablet {
      display: flex;
      flex-direction: row;
    }
  }
}
// @media @tablet {
//   .slider--tablet {
//     display: flex;
//     flex-direction: column;
//   }
// }

.flickity-page-dots {
  bottom: 10%;
  @media @mobile {
    // display: inline-block;
  }
  @media @desktop {
    display: none;
  }
}
.flickity-prev-next-button {
  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
  @media @desktop {
    display: block;
  }
}
